

<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center">
        <h1>Doğru Cevabı Bul (Rastgele Sorular)</h1>
    </div>
    <div class="row justify-content-center">

        <div class="col-md-8 mt-4">
            <div id="oyunBaslatmaBilgisi">
                <h5>Rastgele Sorular İle Puan Kazanmaya Başlamak İçin Testi
                    Başlat
                </h5>

                <label for>
                    <button class="btn btn-primary"
                        id="testiBaslat"
                        onclick="oyunuBaslat()">Başla
                    </button>
                </label>
            </div>

            <div id="sorularDiv" hidden>
                <div class="row m-1 ">
                    <div
                        class="col-md-2 ml-3 rounded-3 mb-2 p-2 bg-success d-flex justify-content-center align-items-center">
                        <label for class="fw-bold fs-6">
                            <img src="/static/images/correct.gif"
                                style="width: 50px; " alt>
                        </label>
                        <label for class="fw-bold fs-5"
                            style="margin-left: 20px"
                            id="toplamPuan">0</label>
                    </div>
                    <div style="background-color: blueviolet;"
                        id="soruNumarasi"
                        class="col-md-4 ms-auto rounded-3 mb-2 p-2  d-flex justify-content-center align-items-center">
                        <img src="/static/images/question.png"
                            style="width: 50px; " alt>
                        <label for class="fw-bold fs-5 text-white"
                            style="margin: auto;"></label>
                    </div>
                    <div
                        class="col-md-2 ms-auto rounded-3 mb-2 p-2 bg-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/time.gif"
                            style="width: 50px; " alt>
                        <label for class="fw-bold fs-5"
                            id="kalanSure"></label>
                    </div>
                </div>
                <div
                    class="p-3  border border-3 rounded-5 border-white text-white fs-5 fw-bold"
                    id="sorulanSoru">
                    <img src="/static/images/question.png"
                        style="width: 50px; margin-right: 10px;" alt>
                    <label for>

                    </label>
                </div>
                <ul class="list-group mt-3" id="siklar">
                </ul>
                <div class="row mt-2 ">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item ms-auto">
                                <a href id="next"
                                    class="page-link" style="background-color: blueviolet; font-weight: 700;
                                    color: white;">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/static/js/dcb.js"></script>

<%- include('../partials/footer') %>
